.footer {
	&__upper{
		padding: 40px 0;
		background: $silver;
		color: $white;

		&--container{
			display: flex;
			justify-content: center;
			align-items: center;	
		}
		&--img{	
			width: 200px;
		}
		&--list{
			margin-left: 200px;
			li{
				&:not(:first-child){
					margin-top: 10px;
				}
			}
			@include mq(sp) {
				margin-left: auto;
			}
		}

	}
	&__lower{
		background: linear-gradient(to bottom right, $white 0%, $blue 100%);
	}
	&__copy-right {
		padding: 10px 0;
		text-align: center;
	}
}
