.page-qa {

	&__list {
		margin-top: 40px;
	}
	&__item {
		margin-top: 20px;
		background: $blue;
		color: $white;

		&--head {
			position: relative;
			padding: 10px;
			background: $blue;
			color: $white;
			cursor: pointer;
			&::before,
			&::after {
				display: block;
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				width: 20px;
				height: 1px;
				content: '';
				transition: all $transition-change-time ease 0s;

				border-bottom: 1px solid $white;
			}

			// 閉じているとき：+

			&::after {
				transform: rotate(90deg);
			}
			// 開いているとき：-
			&.is-open {
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
		&--body {
			padding: 10px;
			border: 1px solid $blue;
			// display: none;
			background: $white;
			color: $blue;
			line-height: 1.5;
			letter-spacing: .01em;

			@include lhCrop(1.5);
		}
	}
}
