.page-registered-contents{
    &__container{
        padding-left: 20px;
        @include mq(tab) {
            padding-left: 0px;
        }

        p{
            @include lhCrop(1.5);
            line-height: 1.5;
            &:first-child{
                font-weight: $font-weight-bold;
            }
            &:not(:first-child){
                margin-top: 15px;
            }
        }
    }
}