.sidebar {
	$sidebar-border: 1px solid $silver;
	// ボタン ---------------------------------------------
	.wp-block-buttons {
		.wp-block-button {
			position: relative;
			width: 100%;
			a {
				display: block;
				border-color: $blue;
				border-radius: 0;
				&:hover {
					background: $blue;
				}
			}

			&.btn-contact,
			&.btn-introduction,
			&.btn-line {
				&::before {
					display: block;
					position: absolute;
					top: 50%;
					left: 10px;
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					content: '';
				}
			}
			&.btn-contact {
				&::before {
					background-image: url(../img/お問い合わせ.png);
				}
			}
			&.btn-introduction {
				&::before {
					background-image: url(../img/店舗紹介.png);
				}
			}
			&.btn-line {
				&::before {
					left: 5px;
					width: 30px;
					height: 30px;
					background-image: url(../img/LINE.png);
				}
			}
		}
	}

	// リンク ---------------------------------------------
	.links {
		padding: 10px;
		border: $sidebar-border;
		h2 {
			padding-bottom: 10px;
			text-align: center;

			border-bottom: 2px solid $blue;
		}
		ul {
			margin-top: 10px;
		}
		li {
			position: relative;
			padding-left: 20px;
			&:not(:first-child) {
				margin-top: 5px;
			}
			&::before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);
				width: 10px;
				height: 10px;
				background-image: url(../img/チェックボックス.png);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				content: '';
			}
		}
	}

	// 店舗紹介 ---------------------------------------------
	.introduction {
		padding: 10px;
		border: $sidebar-border;
		.logo,
		.top-img {
			width: 100%;
			margin: 0 auto;
		}
		.phone {
			position: relative;
			font-weight: $font-weight-bold;

			@include mq(tab-only) {
				padding-left: 12px;
			}
			&::before {
				display: block;
				position: absolute;
				top: 50%;
				left: 25px;
				transform: translateY(-50%);
				width: 20px;
				height: 20px;
				background-image: url(../img/電話.png);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				content: '';

				@include mq(tab-only) {
					left: 10px;
				}
			}
		}
		.wp-block-buttons {
			.wp-block-button {
				margin-bottom: 0;
				&.btn-access {
					a {
						display: block;
						border-color: $yellow;
						border-radius: 0;
						background: $yellow;
						&:hover {
							background: $blue;
						}
					}
				}
			}
		}
	}

	// Twitter ---------------------------------------------
	.twitter {
		padding: 10px;
		border: $sidebar-border;
		.wp-block-group__inner-container {
			p {
				text-align: center;
			}
		}
	}
}
