.news-archive{ 

    &__list{
        margin-top: 30px;
    }

    &__item{
        padding: 10px 0;
        border-bottom: 1px solid $light-gray;
        a{
            display: flex;
        }
        &--link{
        // 
        }
        &--term{
            text-align: center;
            width: 80px;
            background: $light-gray;
            
        }
        &--date{
            margin-left: 20px;
        }
        &--title{
            margin-left: 20px;
        }

    }
}