.introduction-director {
    &__container{
        display: flex;
    }
    &__img{
        width: 180px;
        height: 180px;
        img{
            width: 100%;
        }
    }
    &__msg{
        @include lhCrop(1.5);
        line-height: 1.5;
        letter-spacing: 0.01em;
        padding-left: 10px;
        width: calc(100% - 180px);
    }
    &__link{
        margin-top: 20px;
    }
}
