.introduction-overview {
    &__container{
    
    }
    
    &__table{
        margin-top: 20px;
        width: 100%;
        tbody{
            // width: 100%;
        }
        th,td{
            padding: 10px;
            border: 1px solid $light-gray;
            vertical-align: middle;
        }
        th{
            color: $white;
            width: 100px;
            text-align: left;
            background: $silver;
            
        }
    }
    
}