.top-msg {
	position: relative;
	&__title {
		text-align: center;
		h3 {
			display: inline-block;
			position: relative;
			margin: 0 auto;
			font-size: 3rem;
			letter-spacing: .05em;
			&::before {
				display: block;
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 100%;
				content: '';

				border-bottom: 3px solid $yellow;
			}
			&::after {
				display: block;
				position: absolute;
				right: 0px;
				bottom: -15px;
				width: 0;
				height: 0;
				border-width: 10px 10px 0 10px;
				border-style: solid;
				border-color: $yellow transparent transparent transparent;
				content: '';
			}
			@include mq(sp) {
				font-size: 1.6rem;
			}
		}
	}
	&__list {
		margin-top: 20px;
	}
	&__item {
		display: flex;
		position: relative;
		padding: 10px 30px;
		&::before {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border: 2px solid $blue;
			content: '';
		}
		&::after {
			display: block;
			position: absolute;
			top: 50%;
			left: 0px;
			transform: rotate(45deg) translateY(-10px);
			width: 7px;
			height: 10px;
			content: '';

			border-bottom: 2px solid $blue;
			border-right: 2px solid $blue;
			@include mq(tab-only) {
			}
		}
	}
}
