.top-voice{
    &__container{
        margin-top: 20px;
    }
    &__item{
        padding: 20px;
        border: 10px outset $blue;
        display: flex;
        justify-content: space-between;
        & + &{
            margin-top: 20px;
        }
        &--img{
            width: 100px;
            @include mq(tab) {
                margin: 0 auto;
            }
        }
        &--content{
            width: getMinus100Percent(100px + 15px);
            @include mq(tab) {
                width: 100%;
                margin-top: 10px;
            }
        }
        &--title{
            text-align: center;
            border-bottom: 2px dotted $yellow;
            padding-bottom: 5px;
        }
        &--msg{
            @include lhCrop(1.5);
            line-height: 1.5;
            letter-spacing: 0.01em;    
            padding: 5px;
            margin-top: 15px;
        }
        @include mq(tab) {
            display: block;
        }
    }

}