.menu-option {
    &__tab-menu{    
        
        &--list{
            display: flex;
            justify-content: space-between;
            
        }

        &--item{
            padding: 10px 0;
            width: (100%/3);
            cursor: pointer;
            border: 1px solid $silver;
            text-align: center;
            transition: all $transition-change-time ease 0s;
            &.tab-active{
                background: $silver;
                color: $white;
            }
        }
    }
    &__tab-content{
        border: 1px solid $silver;
        border-top: none;
        transition: all $transition-change-time ease 0s;
        &--item{
            display: none;
            padding: 10px;
            line-height: 1.6;
            &.tab-active{
                display: block;
            }
        }
    }
}
