// ------------------------------------------------------------
// セクション
// ------------------------------------------------------------
.section {
	padding-bottom: 40px;
	&__title {
		margin-bottom: 30px;
		padding: 10px 5px;
		color: $blue;
		font-weight: $font-weight-bold;
		font-size: 2rem;

		border-top: 1px solid $silver;
		border-left: 1px solid $silver;
		border-right: 1px solid $silver;
		border-bottom: 3px solid $blue;
		@include mq(sp) {
			// font-size: *rem;
		}
	}
}
.section-spacer {
	margin-top: 20px;
}

// -----------------------------------------------------------------------------
// 共通系（便利系）
// -----------------------------------------------------------------------------

// ------------------------------------------------------------
// インナー
// width：固定値
// max-width：100% → 縮めたときには100%表示
// ------------------------------------------------------------
.inner {
	// width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100% ;
	width: $layout-width-inner-pc;
	max-width: 100%;
	height: inherit;// 高さは親を継承
	margin: 0 auto;

	@include mq(tab-only) {
		width: $layout-width-inner-tab;
	}
	@include mq(sp) {
		// width: auto;
		// width: ($layout-width-inner-sp / $layout-width-canvas-sp) * 100% ;
		width: $layout-width-inner-sp;
		// margin: 0 *px;// 固定マージン
	}
}

// ------------------------------------------------------------
// 表示制御（表示）
// ------------------------------------------------------------
// PCだけ表示
.display-only-pc {
	@include mq(tab) {
		display: none;
	}
}

// タブレットだけ表示
.display-only-tab {
	@include mq(pc) {
		display: none;
	}
	@include mq(sp) {
		display: none;
	}
}

// スマホだけ表示
.display-only-sp {
	@include mq(pc) {
		display: none;
	}
	@include mq(tab-only) {
		display: none;
	}
}

// ------------------------------------------------------------
// 表示制御（非表示）
// ------------------------------------------------------------

// PCだけ非表示
.hidden-pc {
	@include mq(pc) {
		display: none;
	}
}

// タブレットだけ非表示
.hidden-tab {
	@include mq(tab-only) {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq(sp) {
		display: none;
	}
}


// ------------------------------------------------------------
// util
// ------------------------------------------------------------
$util-link-width-pc: 150px;
$util-link-height-pc: 50px;
$util-link-width-sp: $util-link-width-pc;
$util-link-height-sp: $util-link-height-pc;
$util-link-border-size: 3px;
.util {
	// 共通リンクボタン
	&__link {
		width: $util-link-width-pc;
		height: $util-link-height-pc;
		margin: 0 auto;
		font-weight: $font-weight-bold;
		// font-size: *rem;
		line-height: getLineHeightForBox($util-link-height-pc, $util-link-border-size);
		text-align: center;

		@include mq(sp) {
			width: $util-link-width-sp;
			height: $util-link-height-sp;
			// font-size: *rem;
			line-height: getLineHeightForBox($util-link-height-sp, $util-link-border-size);
		}

		a {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			border-width: $util-link-border-size;
			border-style: solid;
			border-color: $blue;
			color: $blue;
			transition: all $transition-change-time ease 0s;
			span {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				transition: .5s;

				transform-style: preserve-3d;
				&:first-child {
					// はじめは回転なし
					transform: rotateX(0deg);
					background: $white;

					transform-origin: 50px 50% -25px;
				}
				&:nth-child(2) {
					transform: rotateX(90deg);
					background: $blue;
					color: $white;

					transform-origin: 0 50% -25px;
				}
			}
			// rotateX(90deg)している方は裏側にいくため、spanからだとホバーできないのでaタグにhover
			&:hover {
				border-color: $white;
				span {
					&:first-child {
						transform: rotateX(-90deg);
					}
					&:nth-child(2) {
						transform: rotateX(0deg);
					}
				}
			}
		}
	}
}

// ------------------------------------------------------------
// wrapper
// ------------------------------------------------------------
.wrapper {
	//
}

// ------------------------------------------------------------
// container （メインとサイドバーをラップ）
// ------------------------------------------------------------
.container {
	display: flex;
	justify-content: space-between;// 両端寄せ
	margin-top: 50px;
	margin-bottom: 50px;
}

$sidebar-width-pc: 230px;
$sidebar-width-tab: 200px;
$sidebar-width-sp: 100px;
$container-margin-width-pc: 30px;
$container-margin-width-tab: 20px;

// ------------------------------------------------------------
// main
// ------------------------------------------------------------
.main {
	width: getMinus100Percent($sidebar-width-pc + $container-margin-width-pc );

	@include mq(tab-only) {
		width: getMinus100Percent($sidebar-width-tab + $container-margin-width-tab );
	}
}

// ------------------------------------------------------------
// sidebar
// ------------------------------------------------------------
.sidebar {
	width: $sidebar-width-pc;
	@include mq(tab-only) {
		width: $sidebar-width-tab;
	}
}
